{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://kit.fontawesome.com/9289bd467b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />

    <title>LitList - {% block page_title %}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column vh-100">
    <!-- Finished Navbar-->
    <nav class="navbar navbar-expand-md navbar-light bg-light py-0">
      <div class="container-fluid">
        <a href="/" class="navbar-brand me-auto"><img src="{% static 'images/ll-logo.png' %}" style="height: 75px;" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
          {% if user.is_authenticated %}
          {% block navbar %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link border-start ps-2" aria-current="page" href="{% url 'profile' request.user.id %}">Profile</a>
            </li>
            <li class="nav-item border-start">
              <a class="nav-link ps-2" href="{% url 'my_library' %}">Library</a>
            </li>
            <li class="nav-item border-start">
              <a class="nav-link ps-2" href="#">Settings</a>
            </li>
          </ul>
          <div class="d-flex">
            <a href="{% url 'account_logout' %}" class="btn btn-info rounded-3 p-2 text-light opacity-75 my-3 my-md-0 text-small"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            <a href="{% url 'search_users' %}" class=" ms-3 btn btn-secondary rounded-3 p-2 text-light opacity-75 my-3 my-md-0 text-small"><i class="fa-solid fa-magnifying-glass"></i></a>
          </div>
          {% endblock %}
          {% else %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active border-start ps-2" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item border-start">
              <a class="nav-link ps-2" href="{% url 'account_signup' %}">Register</a>
            </li>
          </ul>
          <div class="d-flex">
            <a href="{% url 'account_login' %}" class="btn btn-info rounded-3 p-2 text-light opacity-75 my-3 my-md-0 text-small"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
    <main class="flex-grow-1">
      {% block content %}
      {% endblock %}
    </main>
    <footer class="text-center p-3 m-2 border-top">
      <a href="https://www.goodreads.com/" class="text-decoration-none"><i class="fa-solid fa-book-open-reader fa-xl"></i></a>
    </footer>
    <!-- Script imports -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>