{% extends "base.html" %}
{% block navbar %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link border-start ps-2" aria-current="page" href="{% url 'profile' request.user.id %}">Profile</a>
    </li>
    <li class="nav-item border-start">
      <a class="nav-link ps-2" href="{% url 'my_library' %}">Library</a>
    </li>
    <li class="nav-item border-start">
      <a class="nav-link active ps-2" href="/settings">Settings</a>
    </li>
  </ul>
  <div class="d-flex">
    <a href="{% url 'account_logout' %}" class="btn btn-info rounded-3 p-2 text-light opacity-75 my-3 my-md-0 text-small"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
  </div>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Upload CSV</button>
</form>
{% endblock %}